@import url(components/header.css);
@import url(components/siguenos.css);
@import url(components/productos.css);
@import url(components/footer.css);
@import url(components/slogan.css);
@import url(components/categoria.css);
@import url(components/oferta.css);
@import url(components/botones.css);
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    flex-wrap: 1em;
}
section {
    margin: 20px 0;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
}
