 .ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.ofertas h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 10px;
}
.oferta {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}