
  .slogan pre{
    font-family: "Sansita", sans-serif;
    font-weight: 4000;
    font-style: italic;
    text-align: center;
    color: purple;
    background-image: url("https://img.freepik.com/vector-premium/fondo-brillos-coloridos-abstractos_1055-4419.jpg");
  }
  

  